@tailwind base;
@tailwind components;


@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Merienda:400,700|B612|Courgette&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Caudex|Overlock|Philosopher&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Comfortaa:500,700|Courgette&display=swap');
// |Londrina+Outline|PT+Serif+Caption|Philosopher|Rye|Skranji


body {
    @apply bg-black;
    scroll-behavior: smooth;
}

::-moz-selection {
    background: #4fc5c5;
}
::selection {
    background: #4fc5c5;
}

.page-anchor {
    margin-top: -108px;
    height: 108px;
    @apply block invisible;
}

.c-wrapper {
    perspective: 1px;
    transform-style: preserve-3d;
    @apply overflow-x-hidden overflow-y-scroll h-screen;
}

.c-banner-wrap {
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    @apply h-screen relative;
}

.c-arrowdown {
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 60px;
    // transition: 0.5s ease-in;
    animation-name: example;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    @apply z-10 absolute text-center opacity-100;
    a {
        // font-weight: 700;
        // font-size: 3rem;
        // animation-name: example;
        // animation-duration: 1s;
        // animation-iteration-count: infinite;
        @apply text-2xl text-white block outline-none h-full top-0 no-underline;
    }
}

@keyframes example {
    0%   {bottom: 65px; opacity: 0.1;}
    10%  {bottom: 60px; opacity: 0.2;}
    20%  {bottom: 55px; opacity: 0.3;}
    30%  {bottom: 50px; opacity: 1;}
    40%  {bottom: 45px; opacity: 1;}
    50%  {bottom: 40px; opacity: 1;}
    60%  {bottom: 35px; opacity: 1;}
    70%  {bottom: 30px; opacity: 0.3;}
    80%  {bottom: 25px; opacity: 0.2;}
    100% {bottom: 20px; opacity: 0.1;}
}

.s-header {
    z-index: 10000;
    transition: 0.6s all;
    @apply py-4 sticky inset-x-0 top-0 w-full bg-black-d;
}

.c-logo {
    width: 170px;
    &__img {
        transform: rotate(0deg) translateZ(0);
        @apply block w-full;
    }
    &--main {
        transition: 0.6s all;
        transform: rotate(0deg) translateZ(0);
        @apply w-auto inline-block;
        .c-logo__img {
            width: 70px;
        }
        &:hover {
            .c-logo__img {
                transition: 0.6s all;
                transform: rotate(360deg) translateZ(0);
            }
        }
    }
    &__img-text {
        width: 140px;
        @apply block ml-2;
    }
}

.c-lists {
    @apply list-none flex items-center justify-end;
    &__list {
        @apply mx-4;
        &:first-child {
            @apply ml-0;
        }
        &:last-child {
            @apply mr-0;
        }
        &.selected {
            .c-lists__link {
                transition: 0.4s all;
                @apply text-theme;
                &::after {
                    @apply w-full;
                }
            }
        }
    }
    &__link {
        transition: 0.6s all;
        color: rgba(255,255,255,0.75);
        @apply font-menu relative inline-block;
        &::after {
            content: ' ';
            height: 3px;
            width: 0%;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s all;
            @apply absolute bg-theme rounded-full;
        }
        &:hover {
            &::after {
                transition: 0.4s all;
                @apply w-full;
            }
        }
    }
    &__link-spl {
        text-shadow: 1px 1px 2px #000;
        color: rgba(255,255,255,0.9);
        @apply bg-theme px-3 rounded-sm text-base py-1 inline-block font-menu;
    }
}

.s-banner {
    @apply relative bg-cover bg-no-repeat bg-center overflow-x-hidden top-0;
    &::before, &::after {
        content: '';
        height: 100px;
        background-image: linear-gradient(black, transparent);
        @apply absolute top-0 left-0 w-full;
    }
    &::after {
        background-image: radial-gradient(transparent, black);
        @apply h-full;
    }
}

.c-banner {
    background: linear-gradient(to left, #000000, rgba(0,0,0,0.75));
    @apply relative flex items-center h-screen justify-center;
    &::before {
        content: "";
        left: -200px;
        width: 200px;
        background: linear-gradient(to left, rgba(0,0,0,0.75), transparent);
        @apply absolute top-0 bottom-0 h-full;
    }
    &::after {
        content: "";
        right: -100vw;
        background: linear-gradient(to right, #000000, rgba(0,0,0,0.9));
        @apply absolute top-0 w-screen h-full;
    }
    &__content {
        @apply pl-6 relative z-10;
    }
}

.c-title {
    font-size: 3.25rem;
    @apply text-gray-400 relative;
}

.c-title-main {
    @apply text-4xl text-white opacity-75 font-title inline-block pb-1 relative;
    &::after {
        content: ' ';
        height: 5px;
        width: 50px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.6s all;
        @apply absolute bg-theme rounded-full;
    }
    &--banner {
        @apply text-5xl;
    }
}

.c-stripe {
    width: 4px;
    background-image: linear-gradient(to bottom, #51c3c3 , #89d46d, #c2d521, #d21684, #c5192f, #fdc70b, #b7389f, #0d84c8, #3db6c1);
}

// Viewportchecker animation classes
.js-stripe {
    @apply relative opacity-0;
    transition: 0.6s all;
    height: 0%;
    &.opacity-low {
        transition: 0.6s all;
        @apply opacity-100;
        height: 80%;
    }
}

.js-slideUp {
    @apply relative opacity-0;
    transition: 0.6s all;
    top: 30px;
    &.show {
        transition: 0.6s all;
        @apply opacity-75;
        top: 0;
    }
}

.js-para {
    @apply relative opacity-0;
    transition: 1s all;
    // bottom: 30px;
    &.show {
        transition: 1s all;
        @apply opacity-50;
    }
}

.js-slideImg {
    transition: 0.8s all;
    top: -10px;
    @apply relative z-10 opacity-0;
    &.show {
        transition: 0.8s all;
        @apply top-0 opacity-100;
    }
}

.js-slideCont {
    left: -30px;
    transition: 0.86 all;
    @apply opacity-0 relative;
    &.show {
        transition: 0.6s all;
        @apply left-0 opacity-75;
    }
}

// .js-about-title {
//     left: -30px;
//     transition: 0.8s all;
//     @apply opacity-0 relative;
//     &.show {
//         transition: 0.8s all;
//         @apply left-0 opacity-100;
//     }
// }

.hide {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.js-banner-items {
    @apply relative opacity-0;
    transition: 0.6s all;
    left: 100px;
    &.active {
        transition: 0.6s all;
        @apply opacity-100 left-0;
    }
}

.l-main {
    @apply relative block z-10;
    &--space-top {
        margin-top: 107px;
    }
}

// About Us

.s-about {
    @apply bg-black py-20 bg-black-d;
}

.c-about-title {
    &--about {
        background-image: url('./../../images/about.jpg');
        border-radius: 0 40px 40px 0;
        @apply bg-cover bg-center bg-no-repeat w-full h-full relative flex items-center justify-center;
        &::before {
            content: ' ';
            border-radius: 0 40px 40px 0;
            background: rgba(0,0,0,0.25);
            @apply absolute top-0 left-0 w-full h-full;
        }
    }
    &:hover {
        .c-title-main {
            &::after {
                transition: 0.6s all;
                @apply w-full;
            }
        }
    }
    &--main {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @apply absolute text-center z-20;
    }
}

.c-about {
    border-bottom: 4px solid #555;
    box-shadow: 0px 2px 10px 0px #000;
    border-radius: 40px 0 0 40px;
    @apply relative py-8 px-10 bg-black;
    &__title {
        @apply font-spl3 text-theme text-3xl mb-4;
    }
    &__para {
        @apply text-white opacity-50 font-title leading-loose;
    }
}

.c-line {
    height: 1px;
    background: rgba(255,255,255,0.05);
    @apply w-full mt-20;
}

.s-process {
    @apply bg-black pt-16;
}

.c-process-wrapper {
    @apply mb-20;
}

.c-process-banner {
    // width: 750px;
    // height: 500px;
    width: 600px;
    height: 400px;
    @apply z-20 relative;
}

.c-process {
    margin-top: -130px;
    @apply ml-32 relative;
    &__para {
        padding-top: 10rem;
        transition: 0.4s all;
        @apply bg-black-d text-white opacity-0 invisible leading-loose px-16 pb-12 absolute top-0 left-0 z-10;
        &.is-shown {
            visibility: visible;
            transition: 0.4s all;
            @apply opacity-75;
        }
    }
    &__cont {
        color: rgba(255,255,255,0.75);
        @apply font-body;
    }
    &__link {
        line-height: 1;
        text-shadow: 2px 1px 2px #000;
        border-radius: 5px 5px 15px 15px;
        box-shadow: 0px 2px #ee1a92;
        // background: #222;
        background: linear-gradient(to top, #000, transparent);
        @apply text-white text-sm font-title px-8 py-3 inline-block mt-4 opacity-75;
        span {
            @apply text-white ml-1;
        }
    }
}

.c-process-link {
    position: absolute;
    bottom: 26px;
    right: -300px;
    width: 300px;
    z-index: 1;
    &__list {
        margin-bottom: 10px;
        &:last-child {
            @apply mb-0;
        }
        &.is-active {
            .c-process-link__link {
                width: 280px;
                transition: 0.4s all;
                color: rgba(255,255,255,0.9);
                border-bottom: 3px solid #555;
                // @apply text-theme;
            }
        }
    }
    &__link {
        width: 230px;
        background: #222;
        color: rgba(255,255,255,0.4);
        transition: 0.4s all;
        padding: 5px 20px;
        border-radius: 0 20px 20px 0;
        border-bottom: 3px solid #222;
        border-top: 3px solid #222;
        @apply block font-title text-sm;
    }
}

.c-img-wrap {
    transition: 0.4s all;
    border-radius: 20px;
    box-shadow: 0px 15px 25px 5px #000;
    @apply absolute left-0 top-0 w-full h-full opacity-0 invisible;
    img {
        object-fit: cover;
        border-radius: 20px;
        @apply block w-full h-full;
    }
}

.is-shown {
    visibility: visible;
    opacity: 1;
    transition: 0.4s all;
}

// Printing Page
.s-printing {
    // background-image: url('../../assets/images/print-banner-1.jpg');
    // mb-16
    @apply bg-black-d py-16 pb-24 relative;
    &::after {
        content: ' ';
        height: 2rem;
        background-image: linear-gradient(to left, rgba(0,0,0,1), #222);
        @apply absolute left-0 bottom-0 w-full;
    }
    &:first-child {
        @apply pt-0;
    }
    &:last-child {
        @apply pb-16;
        &::after {
            content: none;
        }
    }
}

.c-banner-printing {
    height: calc(100vh - 107px);
    @apply relative overflow-hidden;
    &::before {
        content: ' ';
        background: rgba(0,0,0,0.5);
        @apply absolute top-0 left-0 w-full h-full z-10;
    }
    img {
        transition: 0.4s all;
        object-fit: cover;
        object-position: 0 -120px;
        @apply w-full h-full block;
    }
    &:hover {
        img {
            transition: 0.4s all;
            transform: scale(1.1);
        }
        .c-title-main--banner {
            &::after {
                @apply w-full;
            }
        }
    }
}

.c-printing {
    // @apply w-2/3 mr-auto;
    // @apply flex items-start;
    // border-radius: 20px;
    // @apply bg-center bg-fixed bg-no-repeat bg-cover w-full relative;
    // &::before {
    //     content: ' ';
    //     background: rgba(0,0,0,0.65);
    //     @apply absolute top-0 left-0 w-full h-full;
    // }
    &__img {
        height: 400px;
        @apply w-4/5 p-6 mx-auto;
    }
    &__banner {
        object-fit: cover;
        border-radius: 20px;
        @apply w-full h-full block;
    }
}

.c-printing-content {
    // padding-top: 6rem;
    margin-top: -4rem;
    box-shadow: 0px 4px 15px 0px #000;
    @apply bg-black px-12 py-16 relative;
    &__para {
        @apply text-white pt-6 font-body leading-loose text-center;
    }
    &__process {
        @apply py-16;
        &:nth-child(odd) {
            .row {
                @apply flex-row-reverse;
                .c-process-cont {
                    background-image: linear-gradient(to left, rgba(0,0,0,1), #222);
                }
                .js-slideCont {
                    right: -30px;
                    transition: 0.86 all;
                    @apply left-auto opacity-0 relative;
                    &.show {
                        transition: 0.6s all;
                        @apply left-auto right-0 opacity-75;
                    }
                }
            }
        }
    }
}

.c-process-img {
    height: 300px;
    img {
        object-fit: cover;
        @apply block w-full h-full;
    }
}

.c-process-cont {
    background-image: linear-gradient(to right, rgba(0,0,0,1), #222);
    @apply bg-black-d p-8 h-full;
    p {
        @apply text-white font-body leading-loose;
    }
}

// Footer 

.s-footer {
    @apply bg-black;
}

.c-contact {
    @apply flex items-start justify-center;
    &__content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @apply absolute text-center z-20;
    }
    a {
        transition: 0.6s all;
        // border-theme border-b-2
        @apply relative inline-block no-underline outline-none text-white font-body text-base mb-2;
        &::after {
            content: ' ';
            transition: 0.6s all;
            bottom: -5px;
            height: 2px;
            width: 0%;
            left: 50%;
            transform: translateX(-50%);
            @apply absolute bg-theme;
        }
        &:hover {
            transition: 0.6s all;
            &::after {
                @apply w-full;
            }
        }
    }
    &__opt {
        height: 250px;
        @apply relative w-full overflow-hidden;
        img {
            object-fit: cover;
            transition: 0.6s all;
            @apply relative w-full h-full block;
        }
        &::before {
            content: ' ';
            transition: 0.6s all;
            background: rgba(0,0,0,0.3);
            @apply absolute top-0 left-0 w-full h-full z-10;
        }
        &:hover {
            img {
                transition: 0.6s all;
                transform: scale(1.25);
            }
            &::before {
                content: " ";
                background: rgba(0,0,0,0.6);
            }
        }
    }
}

.c-footer {
    @apply py-6 bg-black;
    &__para {
        @apply text-white opacity-75 font-body text-sm text-center mb-4;
    }
    &--copy {
        @apply mb-0 opacity-50 text-xs;
    }
}


@tailwind utilities;